Repository owncloud/activity, pull requests merged in 2019-11, with the labels that each got.

#779 Release v2.5.1
  CHANGELOG.md
  appinfo/info.xml
Labels: 3 - To review

#801 ensure currentUser always string in FilesHooks constructor
  lib/AppInfo/Application.php
  lib/FilesHooks.php
  tests/Unit/FilesHooksTest.php
  tests/acceptance/features/webUIActivitySharingExternal/publicLinkShare.feature
Labels: 3 - To review

#802 Extra scality and ceph flexibility in drone starlark
  .drone.star
Labels: 4 - To release, Drone, QA-Team

#803 drone starlark code for cron nightly
  .drone.star
Labels: 4 - To release, Drone, QA-Team

#804 Add flexibility in drone starlark to override default ceph and scality setups
  .drone.star
Labels: 4 - To release, Drone, QA-Team

#805 Increase wait-for-it -t 120 for ceph and scality services
  .drone.star
Labels: 3 - To review, Drone, QA-Team

#806 Drop PHP 7.0 from drone CI
  .drone.star
Labels: 3 - To review, Drone, QA-Team

#808 Change phpunit strict to beStrictAboutOutputDuringTests
  phpunit.xml
Labels: 3 - To review, QA-Team
