Repository owncloud/activity, pull requests merged in 2019-01, with the labels that each got.

#672 [Not that dirty solution] Get the remote user for the federated share
  lib/AppInfo/Application.php
Labels: 3 - To review

#680 Test that created files/folders are shown on activity
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/ActivityContext.php
  tests/acceptance/features/bootstrap/WebUIActivityContext.php
  tests/acceptance/features/bootstrap/bootstrap.php
  tests/acceptance/features/webUIActivity/createFilesFolder.feature
  tests/acceptance/features/webUIActivity/list.feature
Labels: 4 - To release, QA-Team, dev:acceptance-tests

#681 Test that activity log shows message on file/folder updates.
  tests/acceptance/features/webUIActivity/createFilesFolder.feature
  tests/acceptance/features/webUIActivity/list.feature
  tests/acceptance/features/webUIActivity/updateFilesFolder.feature
Labels: 3 - To review, QA-Team, dev:acceptance-tests

#685 Test deleting and restoring files are registered in the activity list
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUIActivity/comment.feature
  tests/acceptance/features/webUIActivity/deleteAndRestore.feature
  tests/acceptance/features/webUIActivity/list.feature
Labels: 3 - To review, QA-Team, dev:acceptance-tests

#686 webUI-test-sharingActivity
  tests/acceptance/features/bootstrap/WebUIActivityContext.php
  tests/acceptance/features/lib/ActivityPage.php
  tests/acceptance/features/webUIActivity/list.feature
  tests/acceptance/features/webUIActivity/sharingInternal.feature
Labels: 4 - To release, QA-Team, dev:acceptance-tests

#688 Add test for simple tagging and commenting for activities
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIActivityContext.php
  tests/acceptance/features/lib/ActivityPage.php
  tests/acceptance/features/webUIActivity/comment.feature
  tests/acceptance/features/webUIActivity/tags.feature
Labels: 4 - To release, QA-Team, dev:acceptance-tests
