Repository owncloud/activity, pull requests merged in 2019-10, with the labels that each got.

#790 Fix default browsers for acceptance tests
  .drone.star
Labels: 3 - To review, Drone, QA-Team

#781 test old trashbin api by restoring deleted files using the webUi and the checking the activity
  tests/acceptance/features/bootstrap/WebUIActivityContext.php
  tests/acceptance/features/webUIActivityDeleteRestore/restoreUsingWebUI.feature
Labels: 4 - To release, QA-Team, dev:acceptance-tests

#791 Add github_release support to drone starlark
  .drone.star
Labels: 4 - To release, Drone, QA-Team

#792 Update drone starlark with latest code 20191011
  .drone.star
Labels: 3 - To review, Drone, QA-Team

#794 drone notify on failure
  .drone.star
Labels: 3 - To review, Drone, QA-Team

#796 Avoid php_codesniffer 3.5.1
  vendor-bin/php_codesniffer/composer.json
Labels: 3 - To review, QA-Team
