Repository owncloud/activity, pull requests merged in 2019-02, with the labels that each got.

#689 Add webUI tests for files sharing external
  .drone.yml
  tests/acceptance/config/behat.yml
  tests/acceptance/features/webUIActivitySharingExternal/publicLinkShare.feature
  tests/acceptance/features/webUIActivitySharingExternal/sharingFederation.feature
Labels: 4 - To release, QA-Team, dev:acceptance-tests

#692 remove login step from user browses to the activity page step
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIActivityContext.php
  tests/acceptance/features/webUIActivity/comment.feature
  tests/acceptance/features/webUIActivity/createFilesFolder.feature
  tests/acceptance/features/webUIActivity/deleteAndRestore.feature
  tests/acceptance/features/webUIActivity/sharingInternal.feature
  tests/acceptance/features/webUIActivity/tags.feature
  tests/acceptance/features/webUIActivity/updateFilesFolder.feature
  tests/acceptance/features/webUIActivitySharingExternal/publicLinkShare.feature
  tests/acceptance/features/webUIActivitySharingExternal/sharingFederation.feature
Labels: 4 - To release, QA-Team, technical debt

#691 Test tags activity
  tests/acceptance/features/bootstrap/WebUIActivityContext.php
  tests/acceptance/features/webUIActivity/tags.feature
Labels: 3 - To review, QA-Team, dev:acceptance-tests

#693 fix waitTillPageIsLoaded() for activity page with no activity
  tests/acceptance/features/lib/ActivityPage.php
Labels: 3 - To review, QA-Team

#699 Add tests for admin tags activity logs
  tests/acceptance/features/bootstrap/WebUIActivityContext.php
  tests/acceptance/features/webUIActivity/tags.feature
Labels: 4 - To release, QA-Team, dev:acceptance-tests

#696 Acceptance test for comments
  tests/acceptance/features/webUIActivity/comment.feature
Labels: 4 - To release, QA-Team, dev:acceptance-tests

#694 Add tests for activity settings
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIActivityContext.php
  tests/acceptance/features/lib/ActivitySettingForm.php
  tests/acceptance/features/webUIActivity/createFilesFolder.feature
  tests/acceptance/features/webUIActivity/deleteAndRestore.feature
  tests/acceptance/features/webUIActivity/sharingInternal.feature
  tests/acceptance/features/webUIActivity/tags.feature
  tests/acceptance/features/webUIActivity/updateFilesFolder.feature
  tests/acceptance/features/webUIActivitySharingExternal/publicLinkShare.feature
  tests/acceptance/features/webUIActivitySharingExternal/sharingFederation.feature
Labels: 4 - To release, QA-Team, dev:acceptance-tests

#698 test delete and restore of file and folder using API is visible in activity list
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiActivity/list.feature
Labels: 4 - To release, dev:acceptance-tests

#704 sharing with user apiActivity test
  tests/acceptance/features/apiActivity/list.feature
Labels: 3 - To review, dev:acceptance-tests

#707 Cleanup Makefile unneeded composer references
  Makefile
Labels: 4 - To release, QA-Team

#708 Remove duplicate make dist target
  Makefile
Labels: 4 - To release, QA-Team

#705 Add tests for internal sharing operations
  tests/acceptance/features/bootstrap/WebUIActivityContext.php
  tests/acceptance/features/webUIActivity/sharingInternal.feature
Labels: 4 - To release, QA-Team, dev:acceptance-tests

#703 Test activity tab
  tests/acceptance/config/behat.yml
  tests/acceptance/features/bootstrap/WebUIActivityContext.php
  tests/acceptance/features/lib/ActivityPage.php
  tests/acceptance/features/webUIActivity/comment.feature
  tests/acceptance/features/webUIActivity/createFilesFolder.feature
  tests/acceptance/features/webUIActivity/deleteAndRestore.feature
  tests/acceptance/features/webUIActivity/sharingInternal.feature
  tests/acceptance/features/webUIActivity/tags.feature
  tests/acceptance/features/webUIActivity/updateFilesFolder.feature
Labels: 3 - To review, QA-Team, dev:acceptance-tests

#697 Sharing a files with two users
  tests/acceptance/features/webUIActivity/sharingInternal.feature
Labels: QA-Team, dev:acceptance-tests

#710 register the Antivirus filter
  tests/acceptance/features/lib/ActivityPage.php
Labels: 4 - To release, QA-Team, dev:acceptance-tests

#701 Add tests for webui filters
  tests/acceptance/features/lib/ActivityPage.php
  tests/acceptance/features/webUIActivity/createFilesFolder.feature
  tests/acceptance/features/webUIActivity/deleteAndRestore.feature
  tests/acceptance/features/webUIActivity/updateFilesFolder.feature
Labels: 4 - To release, QA-Team, dev:acceptance-tests
