Repository owncloud/activity, pull requests merged in 2019-07, with the labels that each got.

#745 Run tests against latest stable tarball release
  .drone.yml
  tests/acceptance/features/apiActivity/list.feature
  tests/acceptance/features/webUIActivityDeleteRestore/restore.feature
Labels: 3 - To review, Drone, QA-Team

#748 Acceptance test for deleting/restoring files by sharer and sharee and checking activity
  tests/acceptance/config/behat.yml
  tests/acceptance/features/apiActivity/list.feature
  tests/acceptance/features/bootstrap/WebUIActivityContext.php
  tests/acceptance/features/webUIActivityDeleteRestore/delete.feature
  tests/acceptance/features/webUIActivityDeleteRestore/restore.feature
Labels: 3 - To review, QA-Team, dev:acceptance-tests

#751 some minor fixes in acceptance test for deleting/restoring files by sharer and sharee
  tests/acceptance/features/bootstrap/WebUIActivityContext.php
  tests/acceptance/features/webUIActivityDeleteRestore/delete.feature
  tests/acceptance/features/webUIActivityDeleteRestore/restore.feature
Labels: 4 - To release, QA-Team, dev:acceptance-tests

#753 Adjust test steps because of core 35926
  tests/acceptance/features/webUIActivityDeleteRestore/restore.feature
  tests/acceptance/features/webUIActivitySharingExternal/publicLinkShare.feature
  tests/acceptance/features/webUIActivitySharingInternal/sharingInternal.feature
Labels: 4 - To release, QA-Team, dev:acceptance-tests

#754 Remove stable10 test jobs
  .drone.yml
Labels: 4 - To release, Drone, QA-Team
