Repository owncloud/activity, pull requests merged in 2020-01, with the labels that each got.

#820 Fix failing tests due to change in core steps: add table headings
  tests/acceptance/features/webUIActivityCreateUpdate/createFilesFolder.feature
Labels: 4 - To release, QA-Team, dev:acceptance-tests

#821 Adjust tags test scenarios for steps removed in core
  tests/acceptance/features/webUIActivityTags/tags.feature
Labels: 4 - To release, QA-Team, dev:acceptance-tests

#823 Add acceptance test for checking the activity of the user by admin after deleting the user
  tests/acceptance/features/webUIActivityTags/tags.feature
Labels: 3 - To review, QA-Team, dev:acceptance-tests

#826 Drone: Update drone.star to use mysql on federated server as database
  .drone.star
Labels: 4 - To release, QA-Team, dev:acceptance-tests

#828 wait for apache server to be up
  .drone.star
Labels: 3 - To review, Drone, QA-Team

#830 [Tests-only]: Fix acceptance test steps changed in core
  tests/acceptance/features/webUIActivitySharingExternal/publicLinkShare.feature
Labels: 3 - To review, QA-Team, dev:acceptance-tests
